/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
  margin: 0;
  background-image: url(https://i.pinimg.com/originals/72/d3/a3/72d3a32d3a6271e46d0e6bb25aafc5d0.gif);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial, sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 15px;
  text-align: center;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 15px 0;
  max-width: 600px;
  text-align: center;
  margin: 0px auto;
}

main {
  max-width: 500px;
  color: #fff;
  text-align: left;
  margin: 0px auto;
}

article {
  background-color: #000000;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  color: cyan;
}

.image {
  text-align: center;
  margin-bottom: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
}

.summary {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.summary h3 {
  color: #555;
}